@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

@layer utilities {
  /* styles.css or your global stylesheet */
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .scrolling {
    animation: scroll 10s linear infinite;
  }
  
  .paused {
    animation-play-state: paused;
  }
  
}

